.headerbutton{
  color: rgba(0, 0, 0, .5);
  border: solid 1px transparent;
  background-color: transparent;
}
.headerbutton:hover{
  background-color: transparent;
  border: solid 1px #495057;
  border-radius: 20px;
  color: #495057;
}

.parallox{
  height: 300px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


